html, body {
  margin: 100;
  padding: 20;
  background-color: #00fff6;
  text-align: center;
}

h1 {
  color: blue;
}  
p {
  color:  black;
} 

textarea{
  background-color: yellow;
  color:  black;
  font-size:large;
}


canvas {
  display: block;
}
